@font-face {
    font-family: 'elektra_light_pro';
    src: url('fonts/Elektra_Light_Pro.eot');
    src: url('fonts/Elektra_Light_Pro.eot?#iefix') format('embedded-opentype'),
    url('fonts/Elektra_Light_Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'elektra_light_pro_bold';
    src: url('fonts/Elektra_Light_Pro_Bold.eot');
    src: url('fonts/Elektra_Light_Pro_Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Elektra_Light_Pro_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'elektra_medium_pro';
    src: url('fonts/Elektra_Medium_Pro.eot');
    src: url('fonts/Elektra_Medium_Pro.otf');
    src: url('fonts/Elektra_Medium_Pro.eot?#iefix') format('embedded-opentype'),
    url('fonts/Elektra_Medium_Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'elektra_medium_pro_italic';
    src: url('fonts/Elektra_Medium_Pro_Italic.eot');
    src: url('fonts/Elektra_Medium_Pro_Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Elektra_Medium_Pro_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
